# ignore the VSCode local config files
.vscode/

# ignore the generated python cache folders
__pycache__/
*/__pycache__/

# don't store the user-specific settings file in repo
settings.json
# also not the settings backup file that is created on settings upgrade
settings.json.bak
